<a href="https://colab.research.google.com/github/mohdfaazkhan/Python-Essential-skills-for-Data-Science/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas**

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Agenda

* What is Data Frames?
* What is Data Series?
* Different operation in Pandas

In [ ]:
## First step is to import pandas

import pandas as pd
import numpy as np

In [ ]:
## Playing with Dataframe

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])

In [ ]:
df.head()

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.to_csv("Test.csv", index=False)

In [ ]:
! cat Test.csv

Column1,Column2,Column3,Coumn4
0,1,2,3
4,5,6,7
8,9,10,11
12,13,14,15
16,17,18,19

In [ ]:
## Accessing the elements

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Coumn4     3
Name: Row1, dtype: int64

In [ ]:
## Check the type

type(df.loc['Row1'])

pandas.core.series.Series

In [ ]:
df.iloc[:,:]

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
df.iloc[:3,:3]

      Column1  Column2  Column3
Row1        0        1        2
Row2        4        5        6
Row3        8        9       10

In [ ]:
## Take the elements from the Column2
df.iloc[:,1:]

      Column2  Column3  Coumn4
Row1        1        2       3
Row2        5        6       7
Row3        9       10      11
Row4       13       14      15
Row5       17       18      19

In [ ]:
#convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [ ]:
df['Column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

In [ ]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Coumn4     0
dtype: int64

In [ ]:
df.isnull()

      Column1  Column2  Column3  Coumn4
Row1    False    False    False   False
Row2    False    False    False   False
Row3    False    False    False   False
Row4    False    False    False   False
Row5    False    False    False   False

In [ ]:
df

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
df.Column1.unique()

array([ 0,  4,  8, 12, 16])

In [ ]:
df["Column3"]

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: Column3, dtype: int64

**How to load data file in google colab**

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving mercedesbenz.csv to mercedesbenz.csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd
import io
 
df = pd.read_csv(io.BytesIO(uploaded['mercedesbenz.csv']))
df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB
None

In [ ]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df["y"].head()

0    130.81
1     88.53
2     76.26
3     80.62
4     78.02
Name: y, dtype: float64

Get the unique category counts

In [ ]:
df["y"].value_counts() # Get the unique category counts #

91.88     7
89.38     7
89.06     7
90.76     7
89.19     6
         ..
110.90    1
132.60    1
94.08     1
75.89     1
87.48     1
Name: y, Length: 2545, dtype: int64

In [ ]:
df["X0"].value_counts() # Get the unique category counts #

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
am     18
i      18
u      17
aw     16
l      16
ad     14
au     11
k      11
b      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
g       1
ab      1
Name: X0, dtype: int64

In [ ]:
d=df["X0"].value_counts()
g = pd.DataFrame(d)
print(g.head())

     X0
z   360
ak  349
y   324
ay  313
t   306

In [ ]:
df[df["y"] > 100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

  **CSV (comma separated value)**

In [ ]:
from io import StringIO, BytesIO

In [ ]:
data = ('col1, col2, col3\n'
            'x,y,1\n'
            'a,b,2\n'
            'c,d,3')

In [ ]:
data

'col1, col2, col3\nx,y,1\na,b,2\nc,d,3'

In [ ]:
type(data)

str

In [ ]:
df=pd.read_csv(StringIO(data))
df

  col1  col2   col3
0    x     y      1
1    a     b      2
2    c     d      3

In [ ]:
df

  col1  col2   col3
0    x     y      1
1    a     b      2
2    c     d      3

In [ ]:
fb=pd.read_csv(StringIO(data), usecols=['col1'])
fb

  col1
0    x
1    a
2    c

In [ ]:
df

  col1  col2   col3
0    x     y      1
1    a     b      2
2    c     d      3

In [ ]:
# Specifying columns data types #

In [ ]:
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12')

In [ ]:
data

'a,b,c,d\n1,2,3,4\n5,6,7,8\n9,10,11,12'

In [ ]:
df = pd.read_csv(StringIO(data),dtype=object)

In [ ]:
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
df["a"]

0    1
1    5
2    9
Name: a, dtype: object

In [ ]:
df["a"][1]

'5'

In [ ]:
df = pd.read_csv(StringIO(data),dtype=int)

In [ ]:
df.head()

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
df["a"]

0    1
1    5
2    9
Name: a, dtype: int64

In [ ]:
df = pd.read_csv(StringIO(data),dtype=float)

In [ ]:
df

     a     b     c     d
0  1.0   2.0   3.0   4.0
1  5.0   6.0   7.0   8.0
2  9.0  10.0  11.0  12.0

In [ ]:
df["a"][1]

5.0

In [ ]:
df = pd.read_csv(StringIO(data),dtype={"a": "Int64","b": "int","c":"float"})

In [ ]:
df

   a   b     c   d
0  1   2   3.0   4
1  5   6   7.0   8
2  9  10  11.0  12

In [ ]:
df["c"][1]

7.0

In [ ]:
type(df["c"][1])

numpy.float64

In [ ]:
df.dtypes # checking the data type #

a      Int64
b      int64
c    float64
d      int64
dtype: object

In [ ]:
# Index columns ##

In [ ]:
data = ('Index,a,b,c\n'
                '4,Apple, Bat,5.7\n'
                '8,Orange, Cow, 10')

In [ ]:
df = pd.read_csv(StringIO(data))

In [ ]:
df

        Index     b     c
a
Apple       4   Bat   5.7
Orange      8   Cow  10.0

In [ ]:
df = pd.read_csv(StringIO(data), index_col= 1)

In [ ]:
df

        a     c
b
Apple   4   Bat
Orange  8   Cow

In [ ]:
## combiniing usecols and index_col ##

data = ('a,b,c\n'
           '4,Apple, Bat\n'
            '8,Orange, Cow')

In [ ]:
df = pd.read_csv(StringIO(data), index_col=False)

In [ ]:
df

   a       b     c
0  4   Apple   Bat
1  8  Orange   Cow

In [ ]:
df = pd.read_csv(StringIO(data), index_col=0)

In [ ]:
df

        b     c
a
4   Apple   Bat
8  Orange   Cow

In [ ]:
df = pd.read_csv(StringIO(data), index_col=1)

In [ ]:
df

        a     c
b
Apple   4   Bat
Orange  8   Cow